[package]
name = "graspologic_native"
version = "1.2.4"
authors = ["daxpryce@microsoft.com"]
edition = "2018"
license = "MIT"
description = "Python native companion module to the graspologic library"
readme = "README.md"

[lib]
name = "graspologic_native"
crate-type = ["rlib","cdylib"]

[dependencies]
rand = "0.8"
rand_xorshift = "0.3"
network_partitions = { path = "../network_partitions" }

[dependencies.pyo3]
version = "0.23"
features = ["extension-module", "abi3-py38"]
